@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');
body {
    background-color: #1B1B2D;
    font-family: "Jost", sans-serif;
    font-style: normal;
font-weight: 600;
font-size: 20px;
}