@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap);

$react : #1670be;
$react-native: #08365e;
$jsx : #241961;
$mongo-db: #155208;
$express:#727970;
$node-js:#9a2424;

.react-badge{
  background-color: $react;
}
.express-badge{
  background-color: $express;
}
.react-native-badge{
  background-color: $react-native;
}
.jsx-badge{
  background-color: $jsx;
}
.mongo-db-badge{
  background-color: $mongo-db;
}
.node-js-badge{
  background-color: $node-js;
}
.badge h5{
  margin-bottom: 0 rem !important;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    
   
}
h1,h2{
    font-weight: 600;
}

h4{
    font-size:20px;
}

/*Github & other buttons*/
button a, button a:hover{
  text-decoration:none;
  color:white;
  border-radius: 30px;
}

.button-test{
  border-radius: 30px;
}
@media screen and (min-width: 480px)  and (max-width:576px){
  .container{
      padding:10%;
  }
  .icon{
    padding:10% 20%;
}
.see-more{
  margin-bottom:3%;
}
}
@media screen and (min-width: 576px)  and (max-width:992px){
  .icon{
    padding:10% 20%;
}
}
@media screen and (min-width:576px){
  p{
    font-size:18px;
} 
.flag-icon{
  margin-right:5%;
}
.other-projects{
  
  margin-top:15px;
}
.other-projects .project-description .technologies-used{
  margin-top:1vh;
  
}
.other-project-left .project-description {
   margin-right:3vh;
}
.other-project-right .project-description{
   margin-right:3vh;
  
}


.other-project-left{
  max-width: 48%;
  margin-right:2%;
}
.other-project-right{
  max-width: 48%;
  margin-left:2%;
}
}
/* Footer */
.footer {
  flex-shrink: 0;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #414141;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
  
  
}
.social-media-link{
  color: inherit;
  -webkit-filter: brightness(100%);
  margin:0px 10px 0px;
}
.social-media-link:hover{
  color:inherit;
  -webkit-filter: brightness(70%);

}
.logo{
  height:40px;
}
.footer .row .col-lg-6 {
  color:grey;
}
.footer a {
  color:inherit;
}
/*projects*/
.other-projects * {
  margin: 15px 0px 0px;
}
/* Project 1 */
.technologies .badge-dark{
  margin:10px 5px;
  padding:10px;
}
technologies .badge-dark:hover{
  background-color:black;
}
.badge-dark{
  font-weight: 600 ;
}

/* TIMELINE */
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
.btn-primary{
  background-color: #7156da;
  border:none;
  border-radius: 20px;
  padding-left: 16px;
  padding-right: 16px;
}
.btn-dark{
  border-radius: 20px;
}

.btn-primary:hover{color:#fff;background-color:#503c99;border-color:#503c99}
.btn-primary:focus{color:#fff;background-color:#503c99;border-color:#503c99;box-shadow:0 0 0 .2rem rgba(80,60,153,.5)}

.project-link{
margin-left: 5px;
margin-right:5px;

}
.row{
  margin-left: 0;
  padding-left:0;
}

.img-responsive{
  max-width: 100%;
  height:auto;
}

.step { position: relative; min-height: 32px /* circle-size */ ; }
.step > div:first-child { position: static; height: 0; }
.step > div:last-child { margin-left: 32px ; padding-left: 16px; }
.circle { background: blueviolet; width: 32px; height: 32px; line-height: 32px; border-radius: 16px; position: relative; color: white; text-align: center; }
.line { position: absolute; border-left: 1px solid gainsboro; left: 16px; bottom: 10px; top: 42px; }
.step:last-child .line { display: none; }
.title { line-height: 32px; font-weight:600; font-size: 120%; padding-bottom: 10px; }
.body{ padding-bottom: 10px;}