.navbar {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #302f4f;
}

.brand {
  margin-top: 15px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: right;
  list-style-type: none;
  margin-top: 15px;
}
.navigation > li {
  padding: 0 5%;
}
