.banner-title{
    margin-bottom: 0px;
    padding-bottom:0px;
}
.github-logo{
    padding-left: 3%;
    color:#343a40;
    font-size: 37px;
    text-decoration:none;

}
.btn-github{
    font-size:18px;
}
.github-logo a, .github-logo a:link, .github-logo a:visited {
    color:#343a40;
    text-decoration: none;
  }


.github-logo a :hover{
    color:black;

}

.product-info{
    padding-right: 30px;
    
}
.product-short-description{
    padding-top:0.5rem;
}
.product-links{
    margin-bottom:30px;
  }
@media screen and (min-width: 480px)  and (max-width:576px){
    .see-more{
        margin-bottom:3%;
    }
  }
  @media screen and (min-width:576px){
    .banner{
      
        padding:0px;
    }
    .see-more{
    
        margin-left: 4%;
        padding:1.5%;
    
    }
}
.status{
    color: #7156da;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.description{
   
}


