.footer {
  display: flex;
  flex-direction: row;
  padding: 50px 12%;
  color: white;
  background-color: #302f4f;
}

li {
  list-style: none;
}

.icons {
  margin-top: 10px;
}
.icons > * {
  margin: 5px 5px;
}
